* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

header {
    background: linear-gradient(to top, #fff, #ff0000);
    color: black;
    font-size: 1.8rem;
    padding: 1rem;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
}

.conteudo {
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 1200px;

}

figure {
    text-align: center;
}

nav {
    text-align: right;
    margin-right: 5%;
    padding-bottom: 3px;
    font-size: 1.6rem;
    word-spacing: 15px;

}

a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    text-shadow: 2px 2px 3px #000;
}

a:hover {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    background-color: #ff0000;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: solid 0.2rem rgb(188, 218, 17);
}

.conteudo-topo {
    padding: 1.5rem;
    padding-top: 22rem;
    font-size: 1.6rem;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 1096px;
    
}

h1 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    color: rgb(255, 0, 0);
}

h5 {
    font-size: 3rem;
    color: #ff0000;
    text-shadow: 1px 1px 2px #000;
    text-align: center;

}

.imagem-site {
    border-radius: 10px 10px 10px 10px;
    width: 60%;
    height: 40%;
}

#grid-conteudo {
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    margin: 0 auto;
    max-width: 1200px;
}

.grid div {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
}
